@using Vidly.Models.ViewModels
@model MovieFormViewModel

@{
    ViewBag.Title = "Edit Movie";
}

<h2>Edit Movie</h2>

@Html.Partial("_MovieForm",Model)

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
