@using Vidly.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Movies List";
}

@if (Model.Any() == false)
{
    <p>Sorry, There are no movies yet.</p>
}
else
{
    <table class="table table-striped">
        <tr>
            <th>
                Movie
            </th>
            <th>
                Genre
            </th>
            <th>
                Release Date
            </th>
            <th>
                Added Date
            </th>
            <th>
                Number in stock
            </th>
        </tr>
        @foreach (var movie in @Model)
        {
            <tr>
                <td>
                    <p>
                        @Html.ActionLink(
                            @movie.Name,
                            "Details",
                            "Movies",
                            new
                            {
                                id = @movie.Id
                            },
                            new
                            {
                                @class = "btn"
                            }
                        )
                    </p>
                </td>
                <td>
                    <p>
                        @movie.GenreLkp.Name
                    </p>
                </td>
            </tr>
        }
    </table>
}