@using Vidly.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Movies List";
}

@if (Model.Any() == false)
{
    <p>Sorry, There is no movies yet.</p>
}
else
{
    <table>
        @foreach (var movie in @Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(
                        @movie.Name,
                        "Details",
                        "Movies",
                        new
                        {
                            id=@movie.Id
                        },
                        null
                    )
                </td>
            </tr>
        }
    </table>
}