@using Vidly.Models.ViewModels
@model CustomerFormViewModel
@{
    ViewBag.Title = "Add Customer";
}

<h2>New Customer</h2>
@Html.Partial("_CustomerForm")

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
